In [1]:
import pandas as pd
from Dataset.dataset import *

# Sample dataset with features and labels
data = {
    'Age': [32, 45, 28, 50, 35, 40, 22, 60, 38, 48, 29, 55, 27, 33, 31, 42, 26, 44, 30, 52],
    'Income': [45000, 60000, 35000, 75000, 55000, 50000, 30000, 80000, 60000, 70000, 35000, 75000, 40000, 48000, 55000, 62000, 32000, 68000, 45000, 72000],
    'Education Level': ['High School', "Bachelor's", 'High School', "Master's", "Bachelor's", "Bachelor's", 'High School', 'Doctorate', "Bachelor's", "Master's", 'High School', "Bachelor's", 'High School', "Bachelor's", "Bachelor's", "Master's", "Bachelor's", "Bachelor's", 'High School', "Master's"],
    'Employment Status': ['Employed', 'Self-Employed', 'Unemployed', 'Employed', 'Employed', 'Employed', 'Student', 'Employed', 'Employed', 'Employed', 'Unemployed', 'Employed', 'Employed', 'Employed', 'Employed', 'Employed', 'Employed', 'Employed', 'Employed', 'Employed'],
    'Marital Status': ['Single', 'Married', 'Single', 'Married', 'Single', 'Divorced', 'Single', 'Married', 'Single', 'Married', 'Single', 'Married', 'Single', 'Divorced', 'Single', 'Married', 'Single', 'Divorced', 'Single', 'Married'],
    'Owns a Home': ['No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
    'Decision': ['Buy', 'Buy', "Don't Buy", 'Buy', 'Buy', "Don't Buy", "Don't Buy", 'Buy', 'Buy', 'Buy', "Don't Buy", 'Buy', 'Buy', "Don't Buy", 'Buy', 'Buy', "Don't Buy", 'Buy', "Don't Buy", 'Buy']
}

df = pd.DataFrame(data)
dataset = Dataset(df, 'Decision', 'Buy')
df.head()

,Age,Income,Education Level,Employment Status,Marital Status,Owns a Home,Decision
0,32,45000,High School,Employed,Single,No,Buy
1,45,60000,Bachelor's,Self-Employed,Married,Yes,Buy
2,28,35000,High School,Unemployed,Single,No,Don't Buy
3,50,75000,Master's,Employed,Married,Yes,Buy
4,35,55000,Bachelor's,Employed,Single,Yes,Buy

In [2]:
from DecisionTree.tree import *

tree = DecisionTree(dataset)
tree.fit(max_depth=3, min_samples=2)
tree.print(tree.root)

|--- Is Income <= 50000?
|   |--- True:
|   |--- Is Income <= 35000?
|   |   |--- True:
|   |   |--- class: Don't Buy
|   |   |--- False:
|   |   |--- Is Age <= 32?
|   |   |   |--- True:
|   |   |   |--- class: Buy
|   |   |   |--- False:
|   |   |   |--- class: Don't Buy
|   |--- False:
|   |--- class: Buy