In [1]:
import pandas as pd

# Sample dataset with features and labels
data = pd.DataFrame({
    'Age': [25, 30, 35, 20, 40],
    'Income': [50000, 60000, 75000, 40000, 80000],
    'Education': ['Bachelor', 'Master', 'PhD', 'Bachelor', 'Master'],
    'Marital_Status': ['Single', 'Married', 'Single', 'Single', 'Married'],
    'Label': ['Yes', 'No', 'Yes', 'No', 'Yes']
})

data.head()

   Age  Income Education Marital_Status Label
0   25   50000  Bachelor         Single   Yes
1   30   60000    Master        Married    No
2   35   75000       PhD         Single   Yes
3   20   40000  Bachelor         Single    No
4   40   80000    Master        Married   Yes

In [7]:
from DecisionTree.node import *

dataset = Dataset(data, 'Label', 'Yes')
root = Root(dataset)
root.select_feature()
print(root.question.answer(dataset)[1])

   Age  Income Education Marital_Status Label
0   25   50000  Bachelor         Single   Yes
2   35   75000       PhD         Single   Yes
3   20   40000  Bachelor         Single    No